groups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Thu Apr 16 2015 18:33:27 GMT+0400 -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="groups" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="groupNumber" type="xs:int"></xs:element>
                            <xs:element name="faculty" type="xs:string"></xs:element>
                            <xs:element name="ID" type="xs:int"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>